.featured {
    display: flex;
    justify-content: space-between;

    @media (max-width: 600px) {
        display: block;
    }

    .featured-card-container {
        background: white;
        width: 40%;
        position: relative;

        @media (max-width: 600px) {
            width: 100%;
        }

        .featured-card-img {
            width: 100%;
        }

        .card-info {
            font-family: futura-pt, sans-serif;
            background: white;
            text-align: center;
            width: 85%;
            position: absolute;
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
            box-shadow:0 4px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            
            @media (max-width: 600px) {
                background: green;
                
            }

            button {
                background: white;
                border: 2px solid black;
                padding: 15px 30px;
                margin-bottom: 20px;
                transition: 0.3s;

                &:hover {
                    cursor: pointer;
                    background: black;
                    color: white;
                }
            }
        }
    }
}