.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 20px;

    h2 {
        margin-bottom: -10px;
    }

    form {
        .input-container {
            margin: 20px 0;

            label {
                font-size: 1rem;
            }

            input {
                width: 100%;
                box-sizing: border-box;
                padding: 10px;
                border-radius: 10px;
                font-size: 1.2rem;
                border: 2px solid gray;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        button {
            background: black;
            border: 2px solid black;
            padding: 15px 30px;
            margin-bottom: 20px;
            transition: 0.3s;
            background: black;
            color: white;
    
            @media (min-width: 1000px) {
                background: white;
                color: black;
    
                &:hover {
                    cursor: pointer;
                    background: black;
                    color: white;
                }
            }
        }

        .register-button {
            background: black;
            color: white;

            @media (min-width: 1000px) {
                &:hover {
                    cursor: pointer;
                    background: white;
                    color: black;
                }
            }
        }
    }
}
