.nav-container {
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2rem;

    .wsky {
        padding: 0 20px;

        &:hover {
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    .mobile-nav {
        background: #3b3b3b;
        display: flex;
        justify-content: space-between;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        width: 300px;
        
        .menu-close-button {
            font-size: 50px;
            padding: 10px;
        }

        .mobile-nav-items {
            list-style: none;

            li {
                list-style: none;
                padding: 10px;
                width: 100%;
                border-bottom: 1px solid white;

                &:last-child {
                    border-bottom: none;
                }
            }

            .categories {
                margin: 10px -30px;
            }
        }
    }

    .desktop-nav-items {
        display: none;
        
        li {
            list-style: none;
        }

        .categories {
            display: flex;
            flex-direction: column;
        }
    }
    
    .menu-button {
        color: white;
        font-size: 50px;
        margin-right: 20px;
    }

    @media(min-width: 1000px) {
        .desktop-nav-items {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: center;
            // width: 250px;
            color: white;
            font-size: 1rem;
            height: 100%;

            .nav-item {
                height: 100%;
                line-height: 60px;
                // width: 100%;
            }
    
            li {
                padding: 0 20px;

                &:hover {
                    background: #3b3b3b;
                    cursor: pointer;
                }
            }

            @media (min-width: 1000px) {
                .products {
                    position: relative;

                    .categories {
                        display: none;
                        position: absolute;
                        z-index: 1;
                        background: #2c2c2c;
                        width: 200px;
                        left: 0;
                        padding: 0;
                    }

                    &:hover {
                        .categories {
                            display: block;
                        }
                    }
                }
            }
        }

        .menu-button {
            display: none;
        }
    }
}